#input-1,
#input-2, 
#buttonCategoria {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -300%);
  display: block;
  width: 70vw;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(.4, .25, .8, .3);
}

#input-1,
#input-2 {
  padding: .25rem 0;
  border: 0;
  border-bottom: 1px solid #573f344b;
  outline: 0;
  background: transparent;
  color: #000000;
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: .125rem;
  transition: all .5s cubic-bezier(.4, .25, .8, .3);
}

#input-1::selection,
#input-2::selection {
  background: rgba(#573f344b, 0.25);
}

#buttonCategoria,
.signup-button {
  padding: .25em 0;
  border: 0;
  outline: 0;
  background: #573f344b;
  color: rgba(#000000, 0.85);
  font-size: 2rem;
  line-height: 3rem;
  letter-spacing: .0625rem;
  box-shadow: 0 3px 5px 1px rgba(#000, 0.25);
  text-shadow: 0 -2px 0 rgba(#000, 0.25), 0 1px 0 rgba(#000000, 0.2);
}

#input-1:focus,
#input-2:focus,
#buttonCategoria:focus {
  opacity: 1;
  transform: translate(-50%, -100%);
  pointer-events: auto;
  transition: all .4s cubic-bezier(.1, .45, .1, .85) .5s;
  z-index: 10;
}

input:focus ~ label .label-text,
select:focus ~ label .label-text {
  transform: translate(-40%, 300%);
  transition: all .5s ease-in;
}

input:focus ~ .tip,
select:focus ~ .tip {
  opacity: 1;
}
input:focus ~ .signup-button,
select:focus ~ .signup-button,
button:focus ~ .signup-button {
  opacity: 0;
}

input:focus + label .label-text,
select:focus + label .label-text {
  opacity: 1;
  transform: translate(-50%, -100%);
  transition: all .3s cubic-bezier(.1, .45, .1, .85) .4s;
}
input:focus + label .nav-dot:before
select:focus + label .nav-dot:before {
  background: darken(#573f344b, 5%);
  box-shadow: 0 0 0 .15rem #111, 0 0 .05rem .26rem #573f344b;
}

.tip {
  position: absolute;
  top: 360px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  opacity: 0;
  color: #000000;
  font-size: .875rem;
  font-weight: 300;
  letter-spacing: .125rem;
  text-transform: uppercase;
  text-align: right;
  transition: opacity .25s .5s;
}


.signup-button,
.signup-button-trigger {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 70vw;
  padding: .25rem 0;
  line-height: 3.6rem;
  text-align: center;
  pointer-events: none;
  cursor: pointer;
  transition: opacity .4s .3s;
}

.signup-button-trigger {
  opacity: 0;
  pointer-events: auto;
}

.label-text {
  position: absolute;
  top: 330px;
  /* top: calc(37% - 4rem); */
  left: 50%;
  transform: translate(-50%, -300%);
  width: 70vw;
  padding: 3.125rem 0 1.5rem;
  text-transform: uppercase;
  color: #000000;
  opacity: 0;
  font-size: 1.125rem;
  font-weight: 300;
  letter-spacing: .125rem;
  pointer-events: none;
  transition: all .4s cubic-bezier(.4, .25, .8, .3) .05s;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  background-image: linear-gradient(to bottom right, #FAF7EC 0%, #FAF7EC 100%);
  
}

form {
  width: 100%;
  height: 30%;
  overflow: hidden;
}