.timefonte{
  font-family: Lifesavers;
  font-weight: bolder;
}

@font-face {
  font-family: Lifesavers;
  src: url(/src/assets/font/LifeSavers-Bold.ttf);
}

* {
  padding: 0;
  margin: 0;
}

.container-contato {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -100px;

}

.sub-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
}

.containCard {
  display: flex;
}

.snip1344 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  line-height: 1.4em;
  background-color: #141414c9;
  box-shadow: 5px 5px 20px 5px rgba(31, 23, 21, 0.486);
  zoom: 1;
  border-radius: 20px;
}

.snip1344 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.snip1344 .background {
  width: 100%;
  vertical-align: top;
  opacity: 1;
  -webkit-filter: grayscale(100%) blur(10px);
  filter: grayscale(100%) blur(8px);
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.snip1344 figcaption {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 50%;
}

.snip1344 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.801);
  border: 2px solid rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);

}

.snip1344 h3 {
  margin: 0 0 5px;
  font-weight: 600;
  text-shadow: 3px 2px 3px black;
}

.snip1344 h3 span {
  display: block;
  font-size: 0.8em;
  color: #fff;
  opacity: 0.75;
  text-shadow: 3px 3px 3px black;
}

.snip1344 i {
  padding: 10px 5px;
  display: inline-block;
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  opacity: 0.65;
}

.snip1344 a {
  text-decoration: none;
}

.snip1344 i:hover {
  opacity: 1;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1344:hover .background,
.snip1344.hover .background {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}